<connectionStrings>
    <add name="DABBAWALLASEntities" connectionString="metadata=res://*/DabbawallasModel.csdl|res://*/DabbawallasModel.ssdl|res://*/DabbawallasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=LAPTOP-IVG4RRHV\SQLEXPRESS;
      initial catalog=DABBAWALLA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>